<!-- <button type="button" class="bg-blue-400" (click)="toggleShowQuestions()">Click me</button> -->

<button 
  class="cursor-pointer bg-blue-500 text-white p-3 sm:p-5 rounded-full shadow-xl text-sm sm:text-base"
  (click)="toggleShowQuestions()"
>
  {{ isToggled ? 'Hide questions' : 'Show questions'}}
</button>


<div *ngIf="isToggled" class="flex flex-col gap-2 mt-3">
  @for (question of questions; track question) {
    <div class="flex">
      <button
        [disabled]="disabled"
        [ngClass]="{'disabled': disabled}"
        class="cursor-pointer bg-gray-400 text-white p-3 sm:p-5 rounded-full shadow-xl text-sm sm:text-base w-full sm:w-auto"
        (click)="asked.emit(question)"
      >
        {{ question }}
      </button>
    </div>
  }
</div>